Package             Version
------------------- -------
asgiref             3.6.0
Django              4.2
django-extensions   3.2.1
djangorestframework 3.14.0
pep8                1.7.1
pip                 23.1
pydotplus           2.0.2
pyparsing           3.0.9
pytz                2023.3
setuptools          65.4.1
sqlparse            0.4.4
